examples/dynamic-control-demo.json
[{"id":"57fd2d46.5eb234","type":"ngrok","z":"553814a2.1248ec","port":"port","portType":"msg","creds":"","region":"region","regionType":"msg","proto":"http","bind_tls":"binding","bind_tlsType":"msg","subdomain":"subdomain","subdomainType":"msg","auth":"auth","authType":"msg","hostHeader":"header","hostHeaderType":"msg","name":"ngrok:1889","inputtype":"port","inputs":1,"x":1490,"y":1840,"wires":[["9fcb9754.696408"]]},{"id":"74f68cde.9ed854","type":"inject","z":"553814a2.1248ec","name":"local node-red (http only)","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"region","v":"eu","vt":"str"},{"p":"binding","v":"http","vt":"str"},{"p":"auth","v":"user1:pass1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"on","payloadType":"str","x":1230,"y":1840,"wires":[["57fd2d46.5eb234"]]},{"id":"9224fcbd.03d26","type":"inject","z":"553814a2.1248ec","name":"Stop tunnel","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"off","payload":"off","payloadType":"str","x":1190,"y":1800,"wires":[["57fd2d46.5eb234"]]},{"id":"9fcb9754.696408","type":"debug","z":"553814a2.1248ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1650,"y":1840,"wires":[]},{"id":"4521988.7f5e768","type":"inject","z":"553814a2.1248ec","name":"other node-red on local network","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"port","v":"192.168.1.50:1880","vt":"str"},{"p":"region","v":"eu","vt":"str"},{"p":"binding","v":"https","vt":"str"},{"p":"auth","v":"user1:pass1","vt":"str"},{"p":"header","v":"192.168.1.50:1880","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"on","payload":"on","payloadType":"str","x":1250,"y":1880,"wires":[["57fd2d46.5eb234"]]}]